.products{
  width: 500px;
  text-align: center;
  display: block;
  border: 2px solid  rgba(0, 0, 255, .2);
  border-radius: 10px;
  margin: 40px 0;
  font-size: 30px;
  box-shadow: 12px 12px 2px 4px rgba(0, 0, 255, .2);
  color: #5db26c;
  position: relative;
}
.name{
  text-align: center;
}
.price{
  padding: 5px;
  color: #a45252;
}
.image{
  width: 500px;
  height: 300px;
}
.code{
  color: #fe8d8d;
}
.color{
  color: #a45252;
}
.star {
  display: block;
  width: 20px;
  position: absolute;
  height: 20px;
  /* left: 445px; */
  right: 55px;
  top: -44px;
}
/*.card{
  background-color: red;
  justify-content:center;
  padding:10px 30px;
  border:none;
  border-radius:7px;
  align-items:center;
}*/
