.block,
.sqaure {
	padding: 50px;
	background-color: orange;
	display: inline-block;
}

.section-first,
.section-second {
	height: 100vh;
	background-color: red;
	border-bottom: 5px solid black;
}

.section-second {
	position: relative;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 2;
}

.block {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
}

main {
   background-color: blue ;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.flex {
	padding: 150px;
	display: inline-block;
	background-color: red;
}

footer {
   /* height: 2000px; */
}
.bgi {
	position: sticky;
	top: calc(50% - 25px);
	left: calc(50% - 25px);
	/* transform: translate(-50%, -50%); */
	padding: 50px;
	display: inline-block;
	background-color: orange;

	/* width: 100%; */
	/* height: 100vh; */
	/* background-image: url(../../sertiz/img/header-background.png); */
	/* z-index: -1; */
}
/* .sqaure {
	position: relative;
	padding: 25px;
	background-color: #fff;
	border: 5px solid black;
	right:  50px; */
/* transform: translateX(-50px); */
/* } */

/* 
.clearfix {
   clear: both;
} */
