@keyframes moveCircle {
    0% {
        transform: rotate(0);
    }
    1% {
        
    }
    100% {
        transform: rotate(360deg);
    }
}

.block {
    width: 200px;
    height: 200px;
    margin: 100px auto;
    border-radius: 50%;
    border-top: 3px solid coral;
    border-right: 3px solid coral;
    animation: moveCircle 1s linear infinite;
}