.header {
  display: flex;
  justify-content: space-evenly;
  padding: 30px 0;
  font-size: 44px;
  background-color: darkseagreen;
  align-items: center;
}
.a{
  color: lightgoldenrodyellow;
  text-decoration: none;
}
.a:hover{
 color: #8ad1e6;
  text-decoration: none;
  transition: 0.5s;
}