* {
	margin: 0;
	padding: 0;
}

/* .wrapper-img,
.block  {
	width: 200px;
} */

.flex {
	display: flex;
	height: 100vh;
	background-color: grey;
	flex-direction: row;
	/* flex-flow: row nowrap; */
	/* flex-direction: row;
    flex-wrap: wrap; */
}

.flex-child {
	font-size: 40px;
	/* flex: grow shrink basis */
	/* flex-grow: 1;
    flex-basis: 20%; */
	width: 200px;
	height: 200px;
	margin: 2px;
	background-color: orange;
}

table {
	/* border: 2px solid; */
	margin: 100px auto;
	width: 800px;
	border-collapse: collapse;
}

td {
	border: 1px solid;
    padding: 20px;
    text-align: center;
    
}

.columns-bgi {
	background-color: orange;
}
.columns1-bgi {
	background-color: red;
}
