.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background: #3B5998;
    box-sizing: border-box;
    padding: 0 24px;
}

.header a {
    color: #fff;
}