* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.flex {
	/* display: flex; */
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	/* grid-template-areas: 
    "header header header header"
    "aside aside main main"
    "aside aside content content"; */
	/* flex-wrap: wrap; */
	padding: 20px;
	background-color: rgb(184, 11, 170);
}

.flex-item {
	padding: 25px;
	background-color: coral;
	margin: 1em;
	/* flex: 1 0 20px; */
}

.flex-item:nth-child(4) {
	width: 299px;
}


.burger {
    display: none;
}

@media (min-width: 320px) and (max-width: 480px) {
	.burger {
		display: block;
	}
}
