/* div {
    font-size: 26px;
} */

* {
  
    box-sizing: border-box;
}

/* .block {
    width: 500px;
	padding: 40px;
	background-color: orange;
    margin: 20px;
}

.box {
    box-sizing: border-box;
} */


/* body {
    text-align: center;
}
h1 {
    font-size: 2em;
}

li {
    display: inline-block;
} */
