* {
    font: 14px sans-serif;
}

body {
    background: #e0e0e0;
}

.container {
    box-sizing: border-box;
    max-width: 1240px;
    padding: 0 20px;
    margin: 0 auto;
}

.randomizer {
    padding: 40px;
    margin: 100px 0;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px rgba(34, 60, 80, 0.2);
    position: relative;
    border: 1px solid lightgray;
}

.randomizer__title {
    grid-column: 1 / span 2;
    text-align: center;
    font-size: 88px;
    font-weight: bold;
    user-select: none;
}

.randomizer__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid lightgray;
    border-radius: 10px;
    background: #fff;
    filter: grayscale(100%);
    transition: .1s ease;
    text-transform: uppercase;
    cursor: pointer;
    user-select: none;
}

.randomizer__btn:hover {
    filter: grayscale(0);
    box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.randomizer__btn--start {
    width: fit-content;
    padding: 10px 40px;
    margin: 0 auto;
}

.randomizer__btn--start span {
    color: #129c50;
    font-size: 30px;
    font-weight: 700;
}

.randomizer__btn--start img {
    width: 40px;
    height: 40px;
    margin-right: 15px;
}

.randomizer__btn--reset, .randomizer__btn--exclude  {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 10px;
    right: 15px;
}

.randomizer__btn--reset img, .randomizer__btn--exclude img  {
    width: 40px;
    height: 40px;
}

.randomizer__btn--exclude {
    right: 90px;
}
