body::-webkit-scrollbar {
	width: 1em;
}

body::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
	background-color: coral;
	outline: 1px solid slategrey;
}

.main {
	padding: 20px;
	background-color: black;
	position: relative;
}

.main-child {
	padding: 25px;
	background-color: coral;
	margin: 2px;
}
.main-child::before {
	position: absolute;
	content: '';
	color: white;
	display: inline-block;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: red;
}

/* .img::after {
	content: "";
	display: inline-block;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background-color: red;
} */

p::selection {
	background-color: aquamarine;
	/* text-decoration: underline; */
}

p::first-letter {
	font-size: 22px;
	background-color: coral;
}

p::first-line {
	/* font-size: 22px; */
	background-color: teal;
}

ol li::marker {
	color: red;
	font-size: 1.5em;
}

.main-child:first-child {
	background-color: red;
}

.main-child:last-child {
	background-color: goldenrod;
}

.main-child:nth-of-type(3) {
	background-color: green;
}

.main-child:hover {
	padding: 40px;
}

/* .main-child:nth-child(7):hover, 
.main-child:nth-child(6):hover, 
.main-child:nth-child(8):hover {
	background-color: yellow;
} */

/* .main-child:nth-child() {

} */
/* .main-child:nth-child() {

} */

/* a:visited {
	color: rosybrown;
}
a:active,
a:hover {
	color: red;
}
a:link {
	color: greenyellow;
} */




/* input:focus {
	border: none;
	outline: none;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
} */